<form #createForm="ngForm" (ngSubmit)="add()">

  <div class="form-group">
    <label for="isbn">ISBN</label>
    <input
      [(ngModel)]="book.isbn"
      type="text"
      class="form-control"
      name="isbn"
      required
      #isbn="ngModel">
  </div>

  <div [hidden]="isbn.valid || isbn.pristine" class="alert alert-danger">
    Bitte geben Sie eine ISBN ein.
  </div>

  <div class="form-group">
    <label for="title">Title</label>
    <input
      [(ngModel)]="book.title"
      type="text"
      class="form-control"
      name="title"
      required
      minlength="3"
      #title="ngModel">
  </div>

  <div *ngIf="title.invalid && title.dirty" class="alert alert-danger">
    Bitte geben Sie einen güligen Titel ein.
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      [(ngModel)]="book.description"
      class="form-control"
      name="description"></textarea>
  </div>

  <div class="form-group">
    <button
      [disabled]="!createForm.valid"
      type="submit"
      class="btn btn-danger">Submit</button>
  </div>

</form>
