<div class="well">
  <div class="thumbnail pull-right">
    <img src="//ng-buch.de/avatar/{{book.rating}}">
  </div>

  <h2 [ngClass]="{
    fiveStarRating: book.rating == 5,
    threeStarRating: book.rating == 3
   }">

   {{ book.title }} <small>Stars {{ book.rating }}</small>

   <i *ngFor="let x of rating" class="glyphicon glyphicon-star"></i>

   </h2>
  <p>{{ book.description }}</p>

  <button (click)="rateUp()" class="btn btn-default glyphicon glyphicon-thumbs-up"></button>
  <button (click)="rateDown()" class="btn btn-default glyphicon glyphicon-thumbs-down"></button>

  <a [routerLink]="['/book', book.isbn]" class="btn btn-default">Details</a>
</div>

